{% extends 'movies/index.twig' %}

{% block content %}
    <!-- Services Section -->
    <h2 class="text-center mt-0">Page formulaire d'ajout</h2>
    <form method="post" action="/form">
        <div class="form-group">
            <label for="title">Titre du film :</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="synopsis">Synopsis du film :</label>
            <textarea class="form-control" id="synopsis" name="synopsis" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image du film</label>
            <input type="text" id="image" name="image" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="year">Année de sortie du film :</label>
            <input type="number" id="year" name="year" class="form-control" min="1900" max="2020" required>
        </div>
        <div class="form-group">
            <label for="rate">Note du film :</label>
            <input type="number" min="0" max="5" required class="form-control" id="rate" name="rate">
        </div>
        <div class="form-group">
            <label for="cat">catégorie :</label>
            <select required class="form-control" id="cat" name="cat">
                {% for categorie in categories %}
                    <option value="{{ categorie._id }}">{{ categorie.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary">valider</button>
        </div>
    </form>
{% endblock %}